fastapi
uvicorn
langchain
langchain_community
sentence-transformers>=2.2.2
faiss-cpu
pypdf
python-multipart
httpx
transformers
torch
langchain_core
passlib[bcrypt]
python-jose[cryptography]
itsdangerous
pytest
pytest-asyncio
scikit-learn 